<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.perphy.enger"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 每日一句（金山词霸） -->
        <activity
            android:name=".DailyActivity"
            android:label="@string/title_activity_daily"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 词典列表界面 -->
        <activity
            android:name=".DictActivity"
            android:label="Manage Dictionaries"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 笔记列表界面 -->
        <activity
            android:name=".NoteListActivity"
            android:label="@string/title_activity_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--笔记详情界面-->
        <activity
            android:name=".NoteDetailActivity"
            android:label="@string/title_activity_note_detail"
            android:parentActivityName=".NoteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 复习界面 -->
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 收藏界面 -->
        <activity
            android:name=".StarActivity"
            android:label="@string/title_activity_star"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 设置界面 -->
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Settings">
        </activity>
        <!--引导界面-->
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"/>
    </application>

</manifest>